
<!doctype html>
<html lang="eng">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOFASCAPE</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
     .section-top-border {
        margin: 2cm;
    }

    .last {
        margin-left: 15cm;
        margin-top: 2cm;
    }

    .lastdate {
        margin-left: 15cm;

    }

    #viwemore {
        margin-left: 25cm;
    }

    #btn {
        margin-left: 27cm;

    }

.errormessage{
    color: red;
}
  #btn{
    margin-left: 27cm;
    margin-top: 2cm;
  }
</style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/homepage"><b>SOFA</b>SCAPE </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/homepage">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="/products">
                                        Shop
                                    </a>
                                    
                                </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="/wallet"> Wallet</a>
                                        <a class="dropdown-item" href="/orderTable">Orders</a>
                                    </div>
                                </li>
                                
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li> -->
                               
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a href="/profile"><i class="fa-solid fa-user"></i></a>
                            <a href="/wishlist"><i class="ti-heart"></i></a>
                            <a style="margin-left: .8cm;"  href="/cartPage"><img src="/img/cart.svg"></a> <span class="badge" style="background-color: red;height: .4cm;border-radius: 50%;"><%= cartCount%></span> <!-- Display the cart count dynamically -->
                               
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
              
            </div>
        </div>
    </header>
    <!-- Header part end-->


    <div class="section-top-border">
        <h2 class="mb-30">Your Orders</h2>
        <% if(orders.length>0){%>
            <% orders.forEach(order=> { %>
                <h5 class="country">OrderId :<%= order.orderId%>
                </h5>
                <div class="progress-table-wrap " id="table">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="serial">#</div>
                            <div class="percentage">Products</div>
                            <div class="percentage">quantity</div>
                            <div class="country">Price</div>
                            <div class="country">Status</div>
                            <div class="country">Cancel</div>


                        </div>
                        <% let count=1%>
                            <% order.products.forEach(product=> { %>
                                <div class="table-row">
                                    <div class="serial">
                                        <%= count++ %>
                                    </div>
                                    <div class="percentage"> <img src="/uploads/<%= product.productId.images[0] %>"
                                            alt="flag" style="width: 1.5cm;">
                                        <%= product.name %>
                                    </div>
                                    <div class="percentage">
                                        <%= product.quantity%>
                                    </div>
                                    <%if(product.offerPrice ){%>
                                        <div class="country">
                                            <%= product.offerPrice * product.quantity %>
                                        </div>
                                        <%}else{%>
                                            <div class="country">
                                                <%= product.price * product.quantity %>
                                            </div>
                                            <%}%>
                                                <div class="country">
                                                    <%= product.status %>
                                                </div>
                                                <% if(product.status==="Cancelled" ){%>
                                                    <div class="country">
                                                        <th> <span>Cancelled</span></th>
                                                    </div>
                                                    <%}else if(product.status==="Delivered"){%>
                                                        <div class="country"><button
                                                            onclick="rturnProduct('<%= order._id %>', '<%= product.productId._id %>')"
                                                            class="genric-btn danger-border circle"> Return</button>
                                                    </div>
                                                        <%}else if(product.status==="Returned"){%>
                                                            <div class="country">
                                                                <p>Returned</p>
                                                            </div>
                                                        <%}else{%>
                                                        <div class="country"><button
                                                                onclick="cancelProduct('<%= order._id %>', '<%= product.productId._id %>')"
                                                                class="genric-btn warning-border circle"> Cancel</button>
                                                        </div>
                                                        <%}%>


                                </div>
                                <% }); %>
                                    <%if(order.finalDiscountAmount){%>
                                        <p class="last">Total Amount:<%= Math.ceil( order.finalDiscountAmount) %>
                                        </p>
                                        <%}else{%>
                                            <p class="last">Total Amount:<%= order.total %>
                                            </p>
                                            <%}%>
                                               
                                                        <p class="lastdate">payment Method:<%=order.paymentMethod%></p>
                                                       
                                                            <% if(order.paymentStatus==='Failed' ){%>
                                                                <div id="viwemore" class="country">
                                                                    <button class="genric-btn warning circle" id="retryPaymentBtn" type="submit"  data-order-id="<%= order._id%>">Retry
                                                                        Payment</button>
                                                                </div>
                                                                <div id="viwemore" class="country"
                                                                    style="margin-top: .5cm;"><a
                                                                        href="/orderDetails/<%= order._id %>"
                                                                        class="genric-btn success-border circle">View
                                                                        More</a></div>
                                                                <%}else{%>
                                                                    <div id="viwemore" class="country"
                                                                        style="margin-top: .5cm;"><a
                                                                            href="/orderDetails/<%= order._id %>"
                                                                            class="genric-btn success-border circle">View
                                                                            More</a></div>

                                                                    <%}%>
                    </div>

                </div>
                <% }); %>
                    <%}else{%>
                        <div>
                            <p colspan="4" style="margin-left: 9cm;font-size: 18px;">Your Orders is empty....! Please
                                add products </p><br>
                            <a href="/products" class="genric-btn primary e-large" style="margin-left: 12cm;">SHOP
                                NOW</a>
                        </div>
                        <%}%>

    </div>
    <a href="/homepage" id="btn" class="genric-btn default circle">Back To Home</a>







    <%- include("../../views/partials/user/footer") %>
        <script>
            //cancel product
            async function cancelProduct(orderId, productId) {
                
                try {
                    const result = await Swal.fire({
                        title: "Are you sure you want to cancel the product?",
                        showCancelButton: true,
                        confirmButtonColor: '#000',
                        cancelButtonColor: '#000',
                        confirmButtonText: "OK",
                    });

                    if (result.isConfirmed) {
                        await fetch(`/cancelOrder/${orderId}/${productId}`, {
                                                        method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        })
                            .then(response => {
                                if (response.ok) {
                                    location.reload();
                                } else {
                                    console.log(response);
                                    
                                    alert('Failed to cancel the product');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                alert('An error occurred');
                            });
                    }
                } catch (error) {
                    console.log('Error in cancel product:', error);
                }
            }

        </script>

        <script>
            //retry Payment
       document.getElementById("retryPaymentBtn").addEventListener("click", function (e) {
       e.preventDefault();

    const orderId = e.target.getAttribute('data-order-id');
    if (!orderId) {
        Swal.fire({
            title: 'Error!',
            text: 'Invalid Order ID. Please try again.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
        return;
    }

    fetch(`/razorpay/retry/${orderId}`, {
        method: "POST",
        headers: { 'Content-Type': 'application/json' }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        if (!data.success) {
            throw new Error(data.error || 'Failed to create Razorpay order');
        }
       
       



        const razorpayOptions = {
            key: 'rzp_test_PK79kuFlXvgTpG',
            amount: data.amount,
            
            currency: 'INR',
            name: 'Sofascape',
            description: 'Order Payment',
            order_id: data.orderId,
            handler: function (response) {
                            if (orderId) {
                                fetch("/payment-sucsess", {
                                    method: "POST",
                                    headers: { 'Content-Type': 'application/json' },
                                    body: JSON.stringify({
                                        razorpay_payment_id: response.razorpay_payment_id,
                                        razorpay_order_id: response.razorpay_order_id,
                                        razorpay_signature: response.razorpay_signature,
                                        orderId: orderId
                                    })
                                })
                                    .then(res => res.json())
                                    .then(data => {
                                        if (data.success) {
                                            window.location.href =  `/thankyou?orderId=${data.orderId}`;
                                        } else {
                                            alert('Payment verification failed');
                                            window.location.href = '/orderTable';
                                        }
                                    })
                                    .catch(error => console.error('Error verifying payment:', error));
                            }
                        },
            prefill: {
                name:  'John Doe', 
                email:  'john.doe@example.com',
                contact:   '9999999999'
            },
            modal: {
                ondismiss: function () {
                    handlePaymentFailure(data.orderData, 'Failed');
                }
            }
        };

        const razorpay = new Razorpay(razorpayOptions);
        console.log("this is from razorpy  order",razorpayOptions);
        razorpay.open();
    })
 
    
    .catch(error => {
        console.error('Error in Razorpay integration:', error.message);
        Swal.fire({
            title: 'Error!',
            text: 'Failed to initialize Razorpay. Please try again.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    });
});



 </script>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
 <!-- Retunr product-->>
 <script>
    async function rturnProduct(orderId, productId) {
    try {
        const result = await Swal.fire({
            title: "Are you sure you want to return the product?",
            input: "text", 
            inputPlaceholder: "Enter the reason for return",
            showCancelButton: true,
            confirmButtonColor: '#000',
            cancelButtonColor: '#000',
            confirmButtonText: "OK",
        });

        if (result.isConfirmed && result.value) {
            const returnReason = result.value;

            const response = await fetch(`/rturnProduct/${orderId}/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ returnReason }), 
            });

            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to return the product');
            }
        } else if (!result.value) {
            Swal.fire('Error', 'Return reason is required', 'error');
        }
    } catch (error) {
        console.error('Error in return product:', error);
        alert('An error occurred');
    }
}

 </script>
