
<!doctype html>
<html lang="eng">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOFASCAPE</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #btn{
            margin-top: 1cm;
        }
        .search-bar{
            height: 1cm;
            width: 6cm;
        }
        </style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/homepage"><b>SOFA</b>SCAPE </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/homepage">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="/products">
                                        Shop
                                    </a>
                                    
                                </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="/wallet"> Wallet</a>
                                        <a class="dropdown-item" href="/orderTable">Orders</a>
                                    </div>
                                </li>
                                
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li> -->
                               
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a href="/profile"><i class="fa-solid fa-user"></i></a>
                            <a href="/wishlist"><i class="ti-heart"></i></a>
                            <a style="margin-left: .8cm;"  href="/cartPage"><img src="/img/cart.svg"></a> <span class="badge" style="background-color: red;height: .4cm;border-radius: 50%;"><%=cartCount%></span> <!-- Display the cart count dynamically -->
                               
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
              
            </div>
        </div>
    </header>
    <!-- Header part end-->
 
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div >
                        <input
                            class="search-bar"
                            type="text"
                            id="search_input"
                            placeholder="Search products...."
                            onkeyup="filterProducts()"
                        >
                    </div>
                      
                    <form action="/products" method="get">
                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Select Category</h3>
                            <div>
            
                            
                                <% categories.forEach(category => { %>
                                    <label>
                                        <input type="radio" name="category" value="<%= category._id %>">
                                        <%= category.variant %> <%= category.name %>
                                    </label>
                                    <br>
                                <% }); %>
                            </div>
                            
                        </div>
                    
                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Sort By</h3>
                            <div>
                                <label>
                                    <input type="radio" name="sort" value="priceLowHigh"> Price: Low to High
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="sort" value="priceHighLow"> Price: High to Low
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="sort" value="newArrivals"> New Arrivals
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="sort" value="nameAsc"> A-Z
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="sort" value="nameDesc"> Z-A
                                </label>
                            </div>
                            
                        </div>
                    
                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Price Range</h3>
                            <input type="number" name="minPrice" placeholder="Enter Min Price" min="0">
                            <p>To</p>
                            <input type="number" name="maxPrice" placeholder="Enter Max Price" min="0">
                        </div>
                    
                        <div>
                            <button type="submit" id="btn" class="genric-btn danger radius">Apply Filters</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                       
                    </div>
                    
                    <div class="row align-items-center latest_product_inner">
                        <% products.forEach(product => { %>
                            <div class="col-lg-4 col-sm-6 product-card">
                                <div class="single_product_item">
                                    <a href="/productpage/<%= product._id %>">
                                        <img src="/uploads/<%= product.images[1] %>" alt="">
                                    </a>
                                    <div class="single_product_text">
                                        <a style="cursor: pointer;"
                                        onclick="addToWishlist('<%= product._id %>')"
                                        ><i class="ti-heart" style="margin-left: 4cm;"></i></a>
                                          

                                        

                                        <h6 style="margin-top: 1cm;"><%= product.productname %></h6>
                                        <% if (product.discountPrice && product.discountPrice < product.regularprice) { %>
                                            <h3><s style="color: red;">₹<%= product.regularprice %></s> ₹<%=Math.round(product.discountPrice) %></h3>
                                        <% } else { %>
                                            <h3>₹<%= product.regularprice %></h3>
                                        <% } %>
                                         <% if (product.stock <= 0) { %>
                                            <a class="add_cart">Out of Stock</a>
                                        <% } else { %>
                                            <a
                                                style="cursor: pointer;"
                                                onclick="addToCart('<%= product._id %>')"
                                                class="add_cart"
                                            >+ add to cart </a>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                        <div class="col-lg-12">
                            <div class="pageination">
                                <nav id="pagination" aria-label="Page navigation" class="paginationdiv">
                                    <ul class="pagination justify-content-center pages custom-pagination" style=" list-style: none;">
                                      <% if (previousPage) { %>
                                        <li class="page-item">
                                          <a class="page-link" href="?page=<%= previousPage %>" aria-label="Previous" style="text-decoration: none;"><i class="ti-angle-double-left"></i></a>                   
                                        </li>         
                                        <% } %>
                                
                                          <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item  <%= i === currentPage ? 'active' : '' %>" >
                                               
                                              <a class="page-link" href="?page=<%= i %>">
                                                <%= i %>
                                              </a>
                                              </li>
                                            <% } %>
                                
                                              <% if (nextPage) { %>
                                                <li class="page-item">
                                                  <a class="page-link" href="?page=<%= nextPage %>" aria-label="Next" style="text-decoration: none;"><i class="ti-angle-double-right"></i></a>
                                                </li>
                                                <% } %>
                                    </ul>
                                  </nav>
                                <!-- <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

  
    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script>
        
    async function addToCart(productId) {
  try {
    const response = await fetch(`/cart/add/${productId}`, {
      method: "POST",
    });

    if (response.ok) {
        const successMessage=await response.text();
      toastr.success(`${successMessage}`, "Success");
      
    } else {
      const errorMessage = await response.text();
      
      toastr.error(`Failed to add to cart: ${errorMessage}`);
    }
  } catch (error) {
    console.error("Error adding to cart:", error);
    
    toastr.error("An unexpected error occurred.", "Error");
  }
}

async function addToWishlist(productId) {
    console.log('pppppppppppp',productId);
    
  try {
    const response = await fetch(`/wishlist/add/${productId}`, {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },

    });

    if (response.ok) {
        const successMessage= await response.text();
      toastr.success(`${successMessage}`, "Success");
    } else {
      const errorMessage = await response.text();
      
      toastr.error(`Failed to add to wishlist: ${errorMessage}`, "Error");
    }
  } catch (error) {
    console.error("Error adding to cart:", error);
    
    toastr.error("An unexpected error occurred.", "Error");
  }
}


function filterProducts() {
            const input = document.getElementById('search_input');
            const filter = input.value.toLowerCase();
            const productCards = document.querySelectorAll('.product-card');

            productCards.forEach(card => {
                const name = card.querySelector('h6').textContent.toLowerCase();
       

                if (name.includes(filter)) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        }

    </script>
</body>

</html>