<!doctype html>
<html lang="eng">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOFASCAPE</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
#imageZoom {
    width: 100%; /* Full width */
    max-width: 400px; 
    height: auto; 
    position: relative;
    overflow: hidden;
    margin: 20px auto; 
    padding: 10px; 
    text-align: center; /* Center the image inside */
}

#imageZoom img {
    max-width: 100%; /* Make sure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: inline-block; /* Keep it centered */
}



#main-image {
    width: 100%;
    height: auto; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
}

#imageZoom::after {
    display: var(--display);
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    background-image: var(--url);
    background-size: 200%; 
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none; 
    transition: opacity 0.3s; 
}
.errormessage{
    color: red;
}

</style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/homepage"><b>SOFA</b>SCAPE </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/homepage">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="/products">
                                        Shop
                                    </a>
                                    
                                </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="/wallet"> Wallet</a>
                                        <a class="dropdown-item" href="/orderTable">Orders</a>
                                    </div>
                                </li>
                                
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li> -->
                               
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a href="/profile"><i class="fa-solid fa-user"></i></a>
                            <a href="/wishlist"><i class="ti-heart"></i></a>
                            <a style="margin-left: .8cm;"  href="/cartPage"><img src="/img/cart.svg"></a> <span class="badge" style="background-color: red;height: .4cm;border-radius: 50%;"><%= cartCount %></span> <!-- Display the cart count dynamically -->
                               
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
              
            </div>
        </div>
    </header>
    <!-- Header part end-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <!-- Main image with zoom functionality -->
              <div data-thumb="/img/product/single-product/product_1.png" id="imageZoom" style="
                  --url: url(/uploads/<%=product.images[1]%>);
                  --zoom-x: 0%;
                  --zoom-y: 0%;
                  --display: none;">
                <img src="/uploads/<%=product.images[1]%>" id="main-image" />
              </div>
            
              <br><br>
            
              <!-- Thumbnail images -->
              <div class="thumbnail" data-src="/uploads/<%=product.images[1]%>" style="height: 2cm;width: 2cm;float: left;margin-left: 4.5cm;">
                <img src="/uploads/<%=product.images[1]%>" />
              </div>
              <div class="thumbnail" data-src="/uploads/<%=product.images[0]%>" style="height: 2cm;width: 2cm;float: left;margin-left: 1cm;">
                <img src="/uploads/<%=product.images[0]%>" />
              </div>
              <div class="thumbnail" data-src="/uploads/<%=product.images[2]%>" style="height: 2cm;width: 2cm;float: left;margin-left: 1cm;">
                <img src="/uploads/<%=product.images[2]%>" />
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            
            <h3><%=product.productname%></h3>
            <%if(product.discountPrice && product.discountPrice < product.regularprice){%>
              <h3 ><s style="color:brown;">₹<%=product.regularprice%></s></h3>
              <h4 style="color: black;"><%=100- (product.discountPrice/ product.regularprice*100) %> %offer</h4>
            <h2>₹<%= Math.ceil(product.discountPrice)%></h2>
            <%}else{%>
              <h2>₹<%=product.regularprice%></h2>
              <%}%>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span><%=product.category.name%></a>
              </li>
              <li>
                <a class="active" href="#">
                  <span>Meterial</span><%=product.category.variant%></a>
              </li>
              <% if (product.stock<=0) { %>
                <li>
                  <a href="#"> <span>Stock</span>Out of stock</a>
                </li>
              <% } else { %>
                <li>
                  <a href="#"> <span>Stock</span> : <%=product.stock%></a>
                </li>
              <% } %>
              <li>
                <a class="active" href="#">
                  <span>Rating</span><%=avg%></a>
              </li>
             
            </ul>
        
            <p>
              <h5>Description</h5>
              <%=product.description%>
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <% if (product.stock<=0) { %>
                 <p style="font-size: 20px;margin-left: 2cm;color: brown;">Out of Stock</p>
                <% } else { %>
                  <!-- <div class="product_count">
                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" id="qty" max="10">
                    <span class="number-increment"> <i class="ti-plus"></i></span>
                  </div> -->
                  <a  onclick="addToCart('<%= product._id %>')" href="/cartPage" class="genric-btn primary e-large">add to cart</a>
    
                  <% } %>
                  <a style="cursor: pointer;font-size: 25px;"
                                        onclick="addToWishlist('<%= product._id %>')"
                                        ><i class="ti-heart" style="margin-left: 4cm;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
       
       
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
       
        
        
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="row total_rate">
                <div class="col-6">
                  <div class="box_total">
                    <h5>Overall</h5>
                    <h4><%= avg %></h4>
                    <h6>(<%= totalReviews %> Reviews)</h6>
                  </div>
                </div>
                <div class="col-6">
                  <div class="rating_list">
                    <h3>Based on 3 Reviews</h3>
                    <ul class="list">
                      <li>
                        <a href="#">5 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">4 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">3 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">2 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                      <li>
                        <a href="#">1 Star
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i> 01</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="review_list">
                <% productReviews.forEach(productReview => { %>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4><%= productReview.name %></h4>
                      <% if (productReview.rating===1) { %>
                        <i class="fa fa-star"></i>
                       <% } else if(productReview.rating===2){ %>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <% } else if(productReview.rating===3){ %>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <% } else if(productReview.rating===4){ %>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <% } else{ %>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                         <% } %>
                    </div>
                  </div>
                  <p>
                    <%= productReview.comment %>
                  </p>
                </div>
                <%})%>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Add a Review</h4>
                <p>Your Rating:</p>
                <ul class="list">
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-star"></i>
                    </a>
                  </li>
                </ul>
                <p>Outstanding</p>
                
                <form class="row contact_form" id="reviewForm" action="/review/<%= product._id %>" method="post" novalidate="novalidate">
                  <input type="hidden" id="productId" value="<%= product._id %>" />
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Your Full name" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email Address" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="number" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="comment" rows="1" placeholder="Review"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="float: left;">
                      <label >1<i class="fa fa-star" style="color: rgb(239, 219, 4);"></i></label>
                     <input type="radio" name="rating" value="1">
                    </div>
                    <div class="form-group" style="float: left;margin-left: 1cm;">
                      <label >2<i class="fa fa-star" style="color: rgb(239, 219, 4);"></i></label>
                     <input type="radio" name="rating" value="2">
                    </div>
                    <div class="form-group" style="float: left;margin-left: 1cm;">
                      <label >3<i class="fa fa-star"  style="color: rgb(239, 219, 4);"></i></label>
                     <input type="radio" name="rating" value="3">
                    </div>
                    <div class="form-group" style="float: left;margin-left: 1cm;">
                      <label >4<i class="fa fa-star" style="color: rgb(239, 219, 4);"></i></label>
                     <input type="radio" name="rating" value="4">
                    </div>
                    <div class="form-group" style="float: left;margin-left: 1cm;">
                      <label >5<i class="fa fa-star" style="color: rgb(239, 219, 4);"></i></label>
                     <input type="radio" name="rating" value="5">
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->

  <!-- product_list part start-->
  <section class="product_list best_seller">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Related Products </h2>
          </div>
        </div>
      </div>

      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="best_product_slider owl-carousel">
            <% relatedProducts.forEach(relatedProduct => { %>
            <div class="single_product_item">
              <a href="/productpage/<%=relatedProduct._id %>">
                <img src="/uploads/<%= relatedProduct.images[1] %>" alt="">
            </a>
              <div class="single_product_text">
                <h4><%=relatedProduct.productname %></h4>
                <h3>₹<%= relatedProduct.regularprice %></h3>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product_list part end-->

  <%-include("../../views/partials/user/footer")%>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    let imageZoom = document.getElementById("imageZoom");

    imageZoom.addEventListener("mousemove", (event) => {
        console.log("Mouse moved"); 
        imageZoom.style.setProperty("--display", "block");
        let pointer = {
            x: (event.offsetX * 100) / imageZoom.offsetWidth,
            y: (event.offsetY * 100) / imageZoom.offsetHeight
        };
        imageZoom.style.setProperty("--zoom-x", pointer.x + "%");
        imageZoom.style.setProperty("--zoom-y", pointer.y + "%");
    });

    imageZoom.addEventListener("mouseout", () => {
        console.log("Mouse out"); 
        imageZoom.style.setProperty("--display", "none");
    });
});
document.querySelectorAll('.thumbnail').forEach(function(thumbnail) {
    thumbnail.addEventListener('click', function() {
   
      var src = thumbnail.getAttribute('data-src');
      
     
      var mainImage = document.getElementById('main-image');
      var imageZoom = document.getElementById('imageZoom');

      mainImage.src = src;
      imageZoom.style.setProperty('--url', `url(${src})`);
    });
  });


  document.getElementById('reviewForm').addEventListener('submit', async (e) => {
  e.preventDefault();
  const productId= document.getElementById('productId').value;
  const formData = new FormData(e.target);
  const reviewData = Object.fromEntries(formData);


  try {
    const response = await fetch(`/review/${productId}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(reviewData),
    });

    if (response.ok) {
      location.reload();
    } else {
      const error = await response.json();
      alert('Error: ' + (error.message || 'Something went wrong'));
    }
  } catch (error) {
    alert('Failed to submit review');
  }
});



//add to cart
async function addToCart(productId) {
  try {
    const response = await fetch(`/cart/add/${productId}`, {
      method: "POST",
    });

    if (response.ok) {
      toastr.success("Product added to cart!", "Success");
    } else {
      const errorMessage = await response.text();
      
      toastr.error(`Failed to add to cart: ${errorMessage}`, "Error");
    }
  } catch (error) {
    console.error("Error adding to cart:", error);
    
    toastr.error("An unexpected error occurred.", "Error");
  }
}

async function addToWishlist(productId) {
    console.log('pppppppppppp',productId);
    
  try {
    const response = await fetch(`/wishlist/add/${productId}`, {
      method: "POST",
      headers: { 'Content-Type': 'application/json' },

    });

    if (response.ok) {
        const successMessage= await response.text();
      toastr.success(`${successMessage}`, "Success");
    } else {
      const errorMessage = await response.text();
      
      toastr.error(`Failed to add to wishlist: ${errorMessage}`, "Error");
    }
  } catch (error) {
    console.error("Error adding to cart:", error);
    
    toastr.error("An unexpected error occurred.", "Error");
  }
}


fun
</script>