

<!doctype html>
<html lang="eng">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SOFASCAPE</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
#imageZoom {
    width: 100%; /* Full width */
    max-width: 400px; 
    height: auto; 
    position: relative;
    overflow: hidden;
    margin: 20px auto; 
    padding: 10px; 
    text-align: center; /* Center the image inside */
}

#imageZoom img {
    max-width: 100%; /* Make sure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: inline-block; /* Keep it centered */
}



#main-image {
    width: 100%;
    height: auto; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
}

#imageZoom::after {
    display: var(--display);
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    background-image: var(--url);
    background-size: 200%; 
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none; 
    transition: opacity 0.3s; 
}
.errormessage{
    color: red;
}

</style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/homepage"><b>SOFA</b>SCAPE </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/homepage">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="/products">
                                        Shop
                                    </a>
                                    
                                </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li> -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="/wallet"> Wallet</a>
                                        <a class="dropdown-item" href="/orderTable">Orders</a>
                                    </div>
                                </li>
                                
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li> -->
                               
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a href="/profile"><i class="fa-solid fa-user"></i></a>
                            <a href="/wishlist"><i class="ti-heart"></i></a>
                            <a style="margin-left: .8cm;"  href="/cartPage"><img src="/img/cart.svg"></a> <span class="badge" style="background-color: red;height: .4cm;border-radius: 50%;"><%= cartCount%></span> <!-- Display the cart count dynamically -->
                               
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
              
            </div>
        </div>
    </header>
    <!-- Header part end-->    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="breadcrumb_iner">
              <div class="breadcrumb_iner_item">
                <h2>Wishlist</h2>
                  
                    <li style="float: left;" class="breadcrumb-item"><a href="/homepage">Home</a></li>
                    <li  style="float: left;" class="breadcrumb-item active" aria-current="page">Wishlist</li>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- breadcrumb start-->
  
    <!--================Cart Area =================-->
    <section class="cart_area padding_top">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
               <% if(wishlistProducts.length>0){%>
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Add Cart</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% wishlistProducts.forEach(product => { %>
         
                <tr>
                  <td>
                    <img style="width: 2cm;height: 2cm;" src="/uploads/<%= product.productId.images[0] %>" alt="<%= product.productId.productname %>" />
                  </td>
                  <td>
                    <p><%= product.productId.productname %></p>
                  </td>
                  <td>
                    <p><%= product.productId.regularprice %></p>

                  </td>
                  
                   <td>
                   <a onclick="addToCart('<%= product.productId._id %>')" style="cursor:pointer ;"><p>+add to cart</p></a> 

                  </td>
                  <td>
                    <form action="/wishlist/cancel/<%= product.productId._id %>?_method=DELETE" method="POST"
                      onsubmit="event.preventDefault(); cancelProduct('<%= product.productId._id %>')">
                      <button class="genric-btn danger-border radius">Remove</button>
                  </form>
                  </td>
            
                </tr>
             <%})%>
        
            </tbody>
            <%}else{%>
              <div>
                <p colspan="4" style="margin-left: 9cm;font-size: 18px;">Your Wishlist is empty....! Please add products </p><br>
                     <a href="/products" class="genric-btn primary e-large" style="margin-left: 12cm;">ADD NOW</a>
            </div>
           <%}%>
            </table>
            <div class="checkout_btn_inner float-right">
              <a class="btn_1" href="/products">Add more to wishlist</a>
            </div>
          </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
  
    <%-include("../partials/user/footer")%>

    <script>
      function cancelProduct(productId) {
    fetch(`/wishlist/cancel/${productId}`, { 
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
           
        }else{
          toastr.error("wishlist Item Removed ", "Error");
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            const productRow = document.querySelector(`#product-${productId}`);
            window.location.reload()
            if (productRow) {
                productRow.remove();
            }
        } else {
            console.error('Error:', data.message);
        }
    })
    .catch(error => {
        console.error('Error canceling product:', error);
    });
}



//add to cart
async function addToCart(productId) {
  console.log('jjjjjjjjj',productId);
  
  try {
    const response = await fetch(`/cart/add/${productId}`, {
      method: "POST",
    });

    if (response.ok) {
      toastr.success("Product added to cart!", "Success");
    } else {
      const errorMessage = await response.text();
      
      toastr.error(`Failed to add to cart: ${errorMessage}`, "Error");
    }
  } catch (error) {
    console.error("Error adding to cart:", error);
    
    toastr.error("An unexpected error occurred.", "Error");
  }
}
    </script>
  
    